body {
    font-family: 'Roboto', sans-serif;
    background: black;
    color: white;
    /*text-shadow: 0 0 5px rgba(0, 0, 0, white);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, white);*/
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.507);
}


.top {
    overflow: hidden;
    /* Verhindert, dass das Bild über den Rand des Containers herausläuft */
}

.start-image {
    width: 100%;
    margin-bottom: 0;
}

.logo,
.logo-name {
    text-align: center;
}

.logo {
    text-align: center;
    font-size: 24px;
    /* Beispielgröße für das Logo */
}

.logo-name {
    font-size: 14px;
    /* Beispielgröße für den Namen */
    margin-top: 20px;
    /* Abstand zwischen Logo und Namen */
}


.main {
    margin-top: 30px;
}

.tos, .pp, .c {
    margin-top: 70px;
}

.footer {
    margin-top: 30px;
    text-align: center;
}

.lastpatch {
    text-align: center;
}

.resources {
    text-align: center;
}

.stats {
    text-shadow: 0 0 1px #fff;
    text-decoration: underline;
}

.middle {
    position: absolute;
    margin-top: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.widget {
    margin-top: 60px;
    text-align: center;
}

.btn {
    background: none;
    border: 2px solid #fff;
    font-family: "montserrat", sans-serif;
    text-transform: uppercase;
    padding: 12px 20px;
    min-width: 200px;
    margin: 10px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    color: #fff;
}

.btn:hover {
    color: #000;
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.btn2::before {
    transform: scaleY(0);
}

.btn2:hover::before {
    transform: scaleY(1);
}

.link {
    background: none;
    border: 2px solid #fff;
    font-family: "montserrat", sans-serif;
    text-transform: uppercase;
    padding: 12px 20px;
    min-width: 200px;
    margin: 10px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    color: #fff;
}

.link:hover {
    border: 2px solid #000;
    text-shadow: 0 0 15px #fff;
    transition: 0.5s;
}

.link:not(:hover) {
    transition: 0.5s;
}

/*.contactDiv {
    padding-top: 1%;
    border-top: 2px solid #fff;
}*/

@media(min-width: 425px) and (max-width: 1080px) {
    .btn {
        font-size: 28px;
    }

    .link {
        font-size: 28px;
    }
}
